{% extends 'base.html' %}

{% block title %}
REgistra nuevo Proveedor
{% endblock %}
    
{% block content %}
<div class="form-container">
   <form method="post">
        {{ form.csrf_token }}
        <div>
                {{ form.nombre_proveedor.label }}
                {{ form.nombre_proveedor() }}
                {% if form.nombre_proveedor.errors %}
                {% for error in form.nombre_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.aPaterno_proveedor.label }}
                {{ form.aPaterno_proveedor() }}
                {% if form.aPaterno_proveedor.errors %}
                   {% for error in form.aPaterno_proveedor.errors%}
                   <p>{{ error }}</p>
                   {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.aMaterno_proveedor.label }}
                {{ form.aMaterno_proveedor() }}
                {% if form.aMaterno_proveedor.errors %}
                 {% for error in form.aMaterno_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.direccion_proveedor.label }}
                {{ form.direccion_proveedor() }}
                {% if form.direccion_proveedor.errors %}
                 {% for error in form.direccion_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.correo_proveedor.label }}
                {{ form.correo_proveedor() }}
                {% if form.correo_proveedor.errors %}
                 {% for error in form.correo_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.telefono_proveedor.label }}
                {{ form.telefono_proveedor() }}
                {% if form.telefono_proveedor.errors %}
                 {% for error in form.telefono_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.submit(class="btn") }}
        </div>
        
   </form>
</div>
{% endblock %}