{% extends 'base.html' %}

{% block title %}
Registra nuevo Proveedor
{% endblock %}
    
{% block content %}
<div class="form-container">
   <form method="post">
        {{ form.csrf_token }}
        <div>
                {{ form.nombre_proveedor.label }}
                {{ form.nombre_proveedor() }}
                {% if form.nombre_proveedor.errors %}
                {% for error in form.nombre_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.a_paterno.label }}
                {{ form.a_paterno() }}
                {% if form.a_paterno.errors %}
                   {% for error in form.a_paterno.errors%}
                   <p>{{ error }}</p>
                   {% endfor %}
                {% endif %}
        </div>
        <div>
                {{ form.a_materno.label }}
                {{ form.a_materno() }}
                {% if form.a_materno.errors %}
                 {% for error in form.a_materno.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.direccion_proveedor.label }}
                {{ form.direccion_proveedor() }}
                {% if form.direccion_proveedor.errors %}
                 {% for error in form.direccion_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.correo_proveedor.label }}
                {{ form.correo_proveedor() }}
                {% if form.correo_proveedor.errors %}
                 {% for error in form.correo_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.telefono_proveedor.label }}
                {{ form.telefono_proveedor() }}
                {% if form.telefono_proveedor.errors %}
                 {% for error in form.telefono_proveedor.errors%}
                 <p>{{ error }}</p>
                 {% endfor %}
                 {% endif %}
        </div>
        <div>
                {{ form.submit(class="btn") }}
        </div>
        
   </form>
</div>
{% endblock %}