@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

nav li a:hover {
    border-bottom: 3px solid black;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: rgb(154, 38, 38);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: white;
}
.btn:hover{
    background-color: beige;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#producto {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #producto  td, #producto th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #producto tr:nth-child(even){background-color: #f2f2f2;}
  
  #producto tr:hover {background-color: #ddd;}
  
  #producto th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(154, 38, 38);
    color: white;
  }
  #proveedor {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #proveedor td, #proveedor th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #proveedor tr:nth-child(even){background-color: #f2f2f2;}
  
  #proveedor tr:hover {background-color: #ddd;}
  
  #proveedor th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


.form-container {
    width: 50%;
    margin: 0 auto;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px 10px 10px 10px #444444;
    display: flex;
    justify-content: center;
}

.form-container input {
    width: 400px;
    margin-bottom: 10px;
}

.fa {
    font-size: 30px;
}

.fa-pencil {
    color: green;
}

.fa-trash {
    color: red;
}

table form {
    display: inline-block;
}

table form button{
    display: inline-block;
}

table a{
    text-decoration: none;
}