@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
}
  
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tabletas */
}
  
@media (min-width: 1025px) {
    /* Estilos para pantallas de escritorio */
}
img {
  max-width: 100%;
  height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: right; /* Alinea el contenido del footer a la izquierda */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0%;
}
    .logo-footer {
        width: 60px; /* Tamaño pequeño */
        margin-right: 50px; /* Espacio entre el logo y el texto */
        vertical-align: middle;
    }
.url{
    color: rgb(228, 193, 193); /* Color inicial del texto */
    transition: color 0.3s ease;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

nav li a:hover {
    border-bottom: 3px solid #fff;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #9a2626;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color:gray;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 50px;
}

/* Tablas */
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #6e6a6a;
    margin-bottom: 50px;
}

table td, table th {
    border: 1px solid #cccbcb;
    padding: 10px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ecc6c6;
}

table th {
    padding: 12px;
    background-color: #9a2626;
    color: #fff;
    font-weight: 700;
}

/* Estilos para enlaces en tablas */
table a {
    text-decoration: none;
    color: #9a2626;
    font-weight: 700;
}

table a:hover {
    text-decoration: underline;
}

/* Botones en tablas */
table .btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #9a2626;
    border-radius: 5px;
    text-decoration: none;
    color: #edb5b5;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

table .btn:hover {
    background-color: #f6c6c6;
    color: #000;
    cursor: pointer;
}


.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #daabab;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.team-member{
    padding: 20px;
    width: 100%;
}

.form-container input {
    width: 100%;
    margin-bottom: 10px;
}

.fa {
    font-size: 40px;
}

.fa-pencil {
    color: green;
}

.fa-trash {
    color: red;
}

table form {
    display: inline-block;
}

table form button {
    display: inline-block;
}

table a {
    text-decoration: none;
    color: #9a2626;
}