@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: right; /* Alinea el contenido del footer a la izquierda */
}
    .logo-footer {
        width: 80px; /* Tamaño pequeño */
        margin-right: 50px; /* Espacio entre el logo y el texto */
        vertical-align: middle;
    }
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

nav li a:hover {
    border-bottom: 3px solid #fff;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #9a2626;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ebcaca;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Tablas */
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #d1d1d1;
}

table tr:hover {
    background-color: #ebcaca;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9a2626;
    color: #fff;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ebcaca;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-container input {
    width: 100%;
    margin-bottom: 10px;
}

.fa {
    font-size: 30px;
}

.fa-pencil {
    color: green;
}

.fa-trash {
    color: red;
}

table form {
    display: inline-block;
}

table form button {
    display: inline-block;
}

table a {
    text-decoration: none;
    color: #9a2626;
}
