<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user %}
            <li><a href="{{ url_for('home.home') }}">Inicio</a></li>
            <li><a href="{{ url_for('home.contact') }}">Acerca de</a></li>
            <li><a href="{{ url_for('product.producto') }}">Productos</a></li>
            <li><a href="{{ url_for('proveedor.proveedor') }}">Proveedores</a></li>
            <li><a href="{{ url_for('cliente.cliente') }}">Clientes</a></li>
            <li><a href="{{ url_for('compra.compra') }}">Compra</a></li>
            <li><a href="{{ url_for('home.home') }}">Cerrar sesión</a></li>
            {% else %}
            {% endif %}
            {% if user %}
            {% else %}
            <li><a href="{{ url_for('home.home') }}">Inicio</a></li>
            <li><a href="{{ url_for('home.contact') }}">Acerca de</a></li>
            <li><a href="{{ url_for('user.register') }}">Registro</a></li>
            <li><a href="{{ url_for('user.login') }}">Iniciar Sesión</a></li>
            {% endif %}

            
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <img src="{{ url_for('static', filename='images/maiker.jpg')}}" alt="Logo de Mi Sitio" class="logo-footer">

        <p>© 2023 Todos los derechos reservados.</p>
        <br>
        <p><a href="https://www.bing.com/search?pglt=41&q=uttlaxcala&cvid=9028f3c5c43846fd88b1616c2eb7ecde&aqs=edge.1.69i57j0l5j69i60l3.3684j0j1&FORM=ANAB01&PC=ASTS&cp=19.376047%7E-97.953324&lvl=16.6">Visita nuestro lugar</a></p>
        
    </footer>
</body>
</html>