<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'navigation.html' %}
    <!-- <nav>
        <ul>
            <img src="{{ url_for('static', filename='images/maiker.jpg')}}" alt="Logo de Mi Sitio" class="logo-footer">
            {% if user %}
            {{ current_user }}
            <li><a href="{{ url_for('home.home') }}">Inicio</a></li>
            <li><a href="{{ url_for('home.contact') }}">Acerca de</a></li>
            <li><a href="{{ url_for('product.producto') }}">Productos</a></li>
            <li><a href="{{ url_for('proveedor.proveedor') }}">Proveedores</a></li>
            <li><a href="{{ url_for('cliente.cliente') }}">Clientes</a></li>
            <li><a href="{{ url_for('compra.compra') }}">Compra</a></li>
            <li><a href="{{ url_for('user.logout') }}">Cerrar Sesion</a></li>
            {% else %}
            {% endif %}
            {% if user %}
            {% else %}
            <li><a href="{{ url_for('home.home') }}">Inicio</a></li>
            <li><a href="{{ url_for('home.contact') }}">Acerca de</a></li>
            <li><a href="{{ url_for('user.register') }}">Registro</a></li>
            <li><a href="{{ url_for('user.login') }}">Iniciar Sesión</a></li>
            {% endif %}

            
        </ul>
    </nav> -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <img src="{{ url_for('static', filename='images/maiker.jpg')}}" alt="Logo de Mi Sitio" class="logo-footer">

        <p>© 2023 Todos los derechos reservados.</p>
        <br>
        <p><a href="https://goo.gl/maps/zLWxYZyaUy5npMsW9" class="url">Visita nuestro lugar</a></p>
        
    </footer>
</body>
</html>